html,body{
    font-size: 2vw;
}

/* 데스크탑 메뉴 */
header nav .inner{
    display: none;
}
header nav .snb{display: none;}
nav.fixed{
    top: 0px;
}

/* 모바일메뉴 */
header{
    width: 100%;
    padding-top: 20px;
    background-color: #fff;
}
header nav{
    width: 100%;
}
header nav.on{
    height: 100%;
    background-color: #fff;
}
header nav .m_inner{
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: block;
}
.m_inner .m_bar{
    width: 35px;
    height: 30px;
    position: absolute;
    z-index: 10;
    top:50%;
    right: 20px;
    transform: translateY(-50%);
}
.m_bar,
.m_bar span{
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.m_bar span{
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 4px;
}
.m_bar span:nth-of-type(1){
    top: 0;
}
.m_bar span:nth-of-type(2){
    top: 12.5px;
}
.m_bar span:nth-of-type(3){
    bottom: 0;
}
.m_bar.active-1 span:nth-of-type(1){
    -webkit-transform: translateY(12.5px) rotate(-45deg);
    transform: translateY(12.5px) rotate(-45deg);
}
.m_bar.active-1 span:nth-of-type(2){
    opacity: 0;
}
.m_bar.active-1 span:nth-of-type(3){
    -webkit-transform: translateY(-12.5px) rotate(45deg);
    transform: translateY(-12.5px) rotate(45deg);
}

.m_inner .m_logo{
    display: block;
    width: 35%;
    margin: auto;
    position: relative;
    z-index: 10;
}
.m_logo img{
    width: 100%;
    object-fit: cover;
}
nav .m_gnb{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    display: none;
    font-size: 1.3rem;
    line-height: 30px;
    background-color: #fff;
    height: 100vh;
    padding-top: 80px;
    padding-left: 50px;
    box-sizing: border-box;
}
.m_gnb li{
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
}
.depth02{
    position: relative;
    width: 100%;
    font-size: 1rem;
    line-height: 30px;
    font-weight: 200;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.m_gnb .m_top_nav{
    width: 100%;
    margin: auto;
    display: flex;
    text-align: center;
    font-size: 1rem;
    margin-top: 50px;

    margin-left: -25px;
}
.m_top_nav .search{
    background: url(./image/search.png) no-repeat center/contain;
}




/* 메인 슬라이드 */
.main-slider{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: absolute;
    top: 7%;
    z-index: -1;
}

main{
    width: 100%;
    opacity: 1;
}
main::before{
    content: '';
    display: block;
    margin-top: 450px;
}
.event .event_content:not(:nth-of-type(1))::before{
    content: '';
    display: none;
}

/* 이벤트 */
main .event{
    width: 80%;
    display: block;
    position: relative;
}
.event .event_content{
    width: 100%;
}

/* 셀렉트 */
main .menubar{
    width: 95%;
    margin: 150px auto;
    position: relative;
}
main .menubar h1{
    text-align: center;
    font:  500 3rem 'Noto Sans', sans-serif;
}
.menubar .cate{
    width: 100%;
}

.menubar .cate a{
    width: 25%;
    font:  500 1.2rem/3em 'Noto Sans', sans-serif;
}
.menubar .menu_list{
    width: 100%;
}
.menubar .menu_list ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
}
.menubar .menu_list li{
    width: 48.7%;
    margin-top: 10px;
}
.menu_list li:not(:last-child,:nth-of-type(2)){
    margin-right: 1.3%;
}
.menu_list .swiper-slide .txt{
    height: 180px;
}
.txt p:nth-of-type(1){
    font:  500 1.2rem/2em 'Noto Sans', sans-serif;
}
.txt p:nth-of-type(2){
    font:  500 1.5rem/3em 'Noto Sans', sans-serif;
}
.txt p:nth-of-type(3){
    font:  600 1.3rem/3em 'Noto Sans', sans-serif;
}
.txt p:nth-of-type(3) span{
    font:  400 1.2rem/3em 'Noto Sans', sans-serif;
}
.txt p:nth-of-type(3) span::before{
    font:  500 1.3rem/3em 'Noto Sans', sans-serif;
}
.more p{
    font:  500 1.3rem/4em 'Noto Sans', sans-serif;
}
.more p:hover{
    color: initial;
    background-color: #e7c35d;
    transition: all .3s;
}

/* 메인 이벤트 슬라이드 */
.event .event_content {
    padding: 50px 0;
}
.event_slide{
    width: 100%;
    overflow: hidden;
}
.event_slide .swiper-slide{
    height: 450px;
}


/*메인 리뷰부분 */
main .review-wrap{
    width: 100%;
    position: relative;
}
main .review-wrap .review{
    width: 95%;
    margin-top: 20px;
}
.review li .photo{
    width: 100%;
    padding-bottom: 60%;
    position: relative;
}
.swiper-slide .review-txt{
    padding: 25px 20px;
    /* height: 150px; */
}
.swiper-button-next,
.swiper-button-prev{
    display: none;
}

/* 메인 인스타  */
main .insta-wrap{
    width: 100%;
    margin-bottom: 200px;
}
main .insta-wrap h1{
    margin: 15px;
}
main .insta-wrap .insta{
    flex-wrap: wrap;
}
.insta li{
    width:32%;
    padding: 1% 0;
    box-sizing: border-box;
}
.insta img{
    width: 100%;
}




/* 푸터 */
footer{
    width: 100%;
    margin-top: 100px
}
footer section{
    width: 100%;
    background-color: #e4d8c3;
    padding: 50px 0;
}
footer .foot-top{
    width: 100%;
    flex-wrap: wrap;
}
.foot-top .foot-left{
    width: 95%;
    margin: auto;
}
.foot-left .notice{
    display: none;
}
.foot-left .info{
    width: 100%;
    margin-top: -40px;
    display: flex;
    /* border: 1px solid red; */
}
.foot-top .foot-right{
    width: 95%;
    margin: auto;
    padding-bottom: 35%;
    top: 15px;
}
.foot-right p:nth-of-type(1){
    position: absolute;
    top: 15%;
    left: 8%;
    font-size: 1.5rem;
}
.foot-right p:nth-of-type(2){
    width: 35%;
    position: absolute;
    letter-spacing: 3px;
    top: 40%;
    left: 8%;
    font-size: 2rem;
}
.foot-right .arrow{
    position: absolute;
    left: 35%;
    top: 60%;
    width: 15%;
}
.foot-right .bg-img{
    width: 35%;
    position: absolute;
    top: 20%;
    right: 2%;
}

/* 푸터하단 */
.foot-bottom .fnb{
    width: 95%;
    margin: 0px auto;
}
.fnb ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fnb .foot-tit{
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    font-size: 1.2rem;
    color: #666;
}
.fnb li{
    width: 100%;
}
.fnb li:nth-of-type(1){
    width: 40%;
}
.fnb li:nth-of-type(1) img{
    width: 80%;
}
.fnb li:nth-of-type(2){
    width: 100%;
}
.foot-bottom .ft-company{
    max-width: 1200px;
    margin: 100px auto;
    position: relative;
    font-size: .8rem;
    line-height: 25px;
    color: #53513d;
}
.foot-bottom .ft-company::before{
    content: '';
    position: absolute;
    top: -50px;
    width: 100%;
    height: 1px;
    background-color: #53513d;
}
.ft-company .license{
    font-size: .6rem;
    font-weight: 700;
    text-decoration: underline;
    color: #333;
}
.foot-bottom .ft-sns{
    position: absolute;
    top: 0;
    right: 0;
}
.ft-sns ul{
    display: flex;
}
.ft-sns li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
    box-sizing: border-box;
    background-color: #878570;
}
.ft-sns img{
    width: 100%;
}
.foot-bottom .ft-certify{
    position: absolute;
    bottom: -100px;
    right: 0;
    width: 74px;
    height: 74px;
    background: url(./image/inipay_74x74_color.png);
}