@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #666;}

.top{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #52503a;
    text-align: center;
    z-index: 10;
}
html,body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1vw;
}
body{
    background-color: #f0e7db;
}

.top a{
    display: block;
    color: #ddd;
}

/* 헤더 */
header{
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}
header nav{
    width: 100%;
    position: relative;
}
nav .inner{
    position: relative;
    width: 85%;
    margin: auto;
    margin-top: 20px;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
}
nav.fixed{
    width: 100%;
    position: fixed;
    top: -20px;
    background-color: #fff;
    transition: all .2s;
    z-index: 10;
}
.inner .logo{
    width: 12%;
}
.inner .gnb{
    width: 60%;
}
.gnb ul{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gnb li{
    text-align: center;
}
.gnb li a{
    font:  500 .8rem 'Noto Sans', sans-serif;
}
.inner .gnb_right{
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.gnb_right select{
    width: 120px;
    height: 30px;
    font:  500 .8rem 'Noto Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(58, 74, 24, 0);
    border: 0px;
}
.gnb_right .top_nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.top_nav li{
    width: 26%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.top_nav .cart{
    text-align: left;
    background:url(./image/cart.png) no-repeat 90% center;
}
.top_nav .search{
    width: 15%;
    background:url(./image/search.png) no-repeat center;
}
.inner a{
    font:  500 .8rem 'Noto Sans', sans-serif;
    text-transform: uppercase;
}

/* 서브메뉴 */
nav .snb{
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 10;
    width: 100%;
    margin: auto;
    background-color: #fff;
}
.snb .slide_menu{
    width: 100%;
    display: flex;
}
.slide_menu ul{
    width: 30%;
    display: block;
    padding: 0 50px 0 150px;
    box-sizing: border-box;
}
.slide_menu li{
    text-align: left;
}
.slide_menu .main_tit{
    margin-top: 35px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #bbb;
    position: relative;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.slide_menu .main_tit a{
    font:  500 1.2rem 'Noto Sans', sans-serif;
}
.slide_menu .main_tit::before{
    content: '>';
    position: absolute;
    color: #bbb;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.slide_menu li{
    line-height: 1.4rem;
}
.slide_menu li a{
    font:  200 .8rem 'Noto Sans', sans-serif;
}
.slide_menu .title{
    margin-top: 15px;
}
.slide_menu .title a{
    font:  500 1rem 'Noto Sans', sans-serif;
    letter-spacing: 1px;
}
.slide_menu p{
    width: 70%;
    padding-right: 150px;
    box-sizing: border-box;
}
.slide_menu img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 모바일 메뉴 */
header nav .m_inner{
    display: none;
}
/* 메인 슬라이드 */
.main-slider{
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}
.blank{
    padding-top: 80px;
    opacity: 1;
    animation: blank 1s;
}
@keyframes blank{
    0%{
        padding-top: 200px;
        opacity: 0;
    }
    100%{
        padding-top: 80px;
        opacity: 1;
    }
}
.main-slider .swiper-wrapper{
    width: 100%;
}
.swiper-wrapper .swiper-slide{
    width: 100%;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ㅁㅔ인 */
main{
    width: 100%;
    opacity: 0;
}
main::before{
    content: '';
    display: block;
    margin-top: 50%;
}

/* 이벤트 */
main .event{
    position: relative;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.event .swiper-button-next,
.event .swiper-button-prev{
    display: none;
}
.event .event_content{
    position: relative;
    width: 33.3%;
    padding: 70px 0;
    text-align: center;
    transition: all .5s;
}
.event .event_content:not(:nth-of-type(1))::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    width: 1px;
    height: 120px;
    background-color: #f0e7db;
}
.event_content h1{
    font:  100 2rem 'Noto Sans', sans-serif;
    text-transform: uppercase;
}
.event_content p{
    font:  100 1.2rem 'Noto Sans', sans-serif;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.event .event_content:hover{
    background-color: #52503a;
    color: #fff;
}
.event .event_content:hover::before{
    content: '';
    width: 0px;
}

/* 메인 메뉴슬라이드 */
main .menubar{
    width: 80%;
    margin: 150px auto;
    position: relative;
}
main .menubar h1{
    text-align: center;
    font:  300 3rem 'Noto Sans', sans-serif;
}
.menubar .cate{
    max-width: 1200px;
    margin: 50px auto 30px;
    display: flex;
    flex-wrap: wrap;
}
.menubar .cate a{
    width: 12.5%;
    font:  500 1.2rem/3em 'Noto Sans', sans-serif;
    text-align: center;
    position: relative;
}
.menubar .cate a:not(:last-child):before{
    content: '';
    width: 1px;
    height: 2em;
    background-color: #bab7a4;
    position: absolute;
    top: 50%;
    right:0px;
    transform: translateY(-50%);
}
.menubar .active{
    border-bottom: 2px solid #666;
    transition: all .2s ease-in-out;
}
.menubar .menu_list{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}
.menubar .menu_list .swiper-wrapper{
    width: 100%;
    display: flex;
    opacity: 1;
}
.menubar .menu_list .swiper-slide{
    width: 24%;
}
.menu_list .swiper-slide img{
    width: 100%;
    object-fit: cover;
    background-color: #daceb2;
}
.menu_list .swiper-slide:nth-child(even) img{
    background-color: #bab7a4;
}
.menu_list .swiper-slide:hover img{
    opacity: 0.7;
    transition: all .3s;
}
.menu_list .swiper-slide .txt{
    width: 100%;
    /* height: 150px; */
    margin-top: -5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
}
.menu_list .swiper-slide .txt::before{
    content: '';
    display: block;
    margin-bottom: 5%;
}
.menu_list .swiper-slide .txt::after{
    content: '';
    display: block;
    margin-bottom: 5%;
}
.txt p:nth-of-type(1){
    font:  500 1rem/2em 'Noto Sans', sans-serif;
    color: #bab7a4;
}
.txt p:nth-of-type(2){
    font:  500 1.2rem/3em 'Noto Sans', sans-serif;
}
.txt p:nth-of-type(3){
    font:  600 1.2rem/3em 'Noto Sans', sans-serif;
}
.txt p:nth-of-type(3) span{
    color:#bab7a4;
    font:  400 .9rem/3em 'Noto Sans', sans-serif;
    text-decoration: line-through;
    position: relative;
    margin-right: 30px;
}
.txt p:nth-of-type(3) span::before{
    content: '→';
    display: block;
    font:  500 1.1rem/3em 'Noto Sans', sans-serif;
    position: absolute;
    right: -20px;
    margin-top: 5px;
    color: #666;
}
.menubar .more{
    width: 200px;
    margin:50px auto;
}
.more p{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font:  500 1.2rem/4em 'Noto Sans', sans-serif;
    background-color: #53513d;
}
.more p:hover{
    color: initial;
    background-color: #e7c35d;
    transition: all .3s;
}

/* 메인 내부 이벤트슬라이드 */
.event_slide{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.event_slide .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 메인 리뷰섹션 */
main .review-wrap{
    width: 80%;
    margin: 100px auto;
    position: relative;
}
main .review-wrap h1{
    text-align: center;
    font: 300 3rem/2em 'Noto Sans', sans-serif;
}
main .review-wrap .review{
    width: 85%;
    margin: auto;
    overflow: hidden;
    color: #666;
}
.review li .photo{
    width: 100%;
    height: 0;
    padding-bottom: 65%;
    position: relative;
}
.photo img{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide .review-txt{
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    background-color: #fff;
}
.review-txt .review-con{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font: 400 1.2rem/1.5em 'Noto Sans', sans-serif;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.review-txt ul{
    width: 100%;
    position: relative;
    padding-top: 30px;
    display: flex;
    height: 50px;
}
.review-txt ul::before{
    content: '';
    position: absolute;
    top: 15px;
    width: 100%;
    height: 1px;
    background-color: #666;
}
.review-txt li:nth-of-type(1){
    width: 75%;
    font: 300 .9rem/1.5em 'Noto Sans', sans-serif;
}
.review-txt li:nth-of-type(2){
    width: 25%;
    text-align: center;
    font-size: .9rem;
}

/* 메인 인스타(sns부분) */
main .insta-wrap{
    width: 100%;
    margin: 100px 0px;
}
main .insta-wrap .insta{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .insta-wrap h1{
    text-align: center;
    font: 300 3rem/1em 'Noto Sans', sans-serif;
}
.insta li{
    width: 15.8%;
    padding: 30px 0;
    box-sizing: border-box;
}
.insta img{
    width: 100%;
}


/* 푸터 */
footer{
    width: 100%;
    margin-top: 100px
}
footer section{
    width: 100%;
    background-color: #e4d8c3;
    padding: 80px 0;
}
footer .foot-top{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.foot-top .foot-left{
    width: 65%;
}
.foot-left .notice{
    padding: 0 20px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}
.notice ul{
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}
.notice li{
    font: 500 1rem/30px 'Noto Sans', sans-serif;
    margin: 10px 0;
    color: #333;
}
.notice li:nth-of-type(1){
    width: 12%;
}
.notice .notice-slide{
    width: 88%;
    overflow: hidden;
}
.notice-slide p{
    position: relative;
}
.foot-left .info{
    width: 100%;
    display: flex;
}
.info .cs-box{
    width: 50%;
    font: 500 .9rem 'Noto Sans', sans-serif;
    color: #666;
    margin-top: 20px;
    position: relative;
}
.info .cs-box::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 1px;
    height: 100px;
    background-color: #53513d;
}
.cs-box li:nth-of-type(1){
    font: 500 1.2rem/2em 'Noto Sans', sans-serif;
    color: #52503a;
}
.cs-box li:nth-of-type(2){
    font: 500 2.5rem/2em 'Noto Sans', sans-serif;
    color: #52503a;
}
.cs-box li:nth-of-type(3),
.cs-box li:nth-of-type(4){
    width: 90%;
    line-height: 20px;
}
.info .ac-box{
    width: 50%;
    font: 500 .9rem/2em 'Noto Sans', sans-serif;
    color: #666;
    margin-top: 20px;
    position: relative;
}
.ac-box li:nth-of-type(1){
    font: 500 1.2rem/2em 'Noto Sans', sans-serif;
    color: #52503a;
}
.ac-box li:nth-of-type(2){
    font: 500 1.5rem/2em 'Noto Sans', sans-serif;
    color: #52503a;
}
.ac-box li:nth-of-type(3){
    height: 30px;
    line-height: 30px;
}
.ac-box li:nth-of-type(4){
    position: relative;
}
.info .btn-box{
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font: 500 1rem/3em 'Noto Sans', sans-serif;
}
.btn-box .qna{
    width: 48%;
    padding-left: 15px;
    box-sizing: border-box;
    background:#e7c35d url(./image/arrow_b.svg) no-repeat 90% center;
    background-size: 20%;
}
.btn-box .faq{
    width: 48%;
    padding-left: 15px;
    box-sizing: border-box;
    color: #fff;
    background:#52503a url(./image/arrow_w.svg) no-repeat 90% center;
    background-size: 20%;
}
.foot-top .foot-right{
    width: 33%;
    height: 0;
    padding-bottom: 20%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #53513d;
    position: relative;
}
.foot-right p{
    color: #fff;
}
.foot-right p:nth-of-type(1){
    position: absolute;
    top: 10%;
    left: 8%;
}
.foot-right p:nth-of-type(2){
    width: 35%;
    position: absolute;
    letter-spacing: 3px;
    top: 25%;
    left: 8%;
    font: 500 1.5rem/2em 'Noto Sans', sans-serif;
}
.foot-right .arrow{
    position: absolute;
    left: 8%;
    top: 65%;
    width: 20%;
}
.foot-right .bg-img{
    width: 40%;
    position: absolute;
    top: 30%;
    right: 2%;
}
.foot-right img{
    width: 100%;
}
/* 푸터하단 */
footer .foot-bottom{
    width: 100%;
    background-color: #bbb8a5;
    padding: 50px 0;
    position: relative;
}
.foot-bottom .fnb{
    max-width:1200px;
    margin: 50px auto;
}
.fnb ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fnb p{
    margin-top: 6px;
    color: #53513d;
    letter-spacing: -0.5px;
    font: 300 .9rem/2em 'Noto Sans', sans-serif;
}
.fnb .foot-tit{
    font: 500 1.2rem/2em 'Noto Sans', sans-serif;
    color: #666;
}
.fnb li{
    width: 10%;
}
.fnb li:nth-of-type(1){
    width: 20%;
}
.fnb li:nth-of-type(1) img{
    width: 80%;
}
.fnb li:nth-of-type(2){
    width: 30%;
}
.foot-bottom .ft-company{
    max-width: 1200px;
    margin: 100px auto;
    position: relative;
    font-size: .8rem;
    line-height: 25px;
    color: #53513d;
}
.foot-bottom .ft-company::before{
    content: '';
    position: absolute;
    top: -50px;
    width: 100%;
    height: 1px;
    background-color: #53513d;
}
.ft-company .license{
    font-size: .6rem;
    font-weight: 700;
    text-decoration: underline;
    color: #333;
}
.foot-bottom .ft-sns{
    position: absolute;
    top: 0;
    right: 0;
}
.ft-sns ul{
    display: flex;
}
.ft-sns li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
    box-sizing: border-box;
    background-color: #878570;
}
.ft-sns img{
    width: 100%;
}
.foot-bottom .ft-certify{
    position: absolute;
    bottom: -100px;
    right: 0;
    width: 74px;
    height: 74px;
    background: url(./image/inipay_74x74_color.png);
}
