html,body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5vw;
}
nav .inner{
    width: 100%;
    margin: auto;
    padding: 20px 0;
}
.gnb ul{
    max-width: 100%;
}
.top_nav .cart{
    text-align: center;
    background:none;
}
.fixed{
    top: 0;
}
nav .snb{
    width: 100%;
}
.slide_menu ul{
    padding: 0 50px 0 70px;
}
.slide_menu p{
    padding-right: 70px;
}
/* 메인슬라이드 */
.main-slider{
    top: 80px;
}

/* 메인 */
main{
    margin-top: 60%;
}
main .event{
    width: 95%;
}
main section{
    width: 95%;
    margin: 100px auto;
}
main section .cate{
    width: 100%;
}
main section .cate a{
    width: 100%;
}
main section .menu_list{
    width: 100%;
}

/* *가운데 정렬 해결하기 */
.event_slide{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.event_slide img{
    width: 150%;
    height: 150%;
    object-fit : cover;
    object-position: 75% 75%;
}


/*메인 리뷰부분 */
main section .review{
    width: 90%;
    margin-top: 20px;
}
.review li .photo{
    width: 100%;
    padding-bottom: 65%;
    position: relative;
}
.swiper-slide .review-txt{
    padding: 20px 20px;
    height: 140px;
}
.swiper-button-next,
.swiper-button-prev{
    display: none;
}



/* 메인 인스타  */
main section .insta{
    margin-top: 20px;
    flex-wrap: wrap;
}
.insta li{
    width:32%;
    padding: 1% 0;
    box-sizing: border-box;
}
.insta img{
    width: 100%;
}


footer .foot-top{
    width: 90%;
    position: relative;
}
.foot-top .foot-left{
    width: 100%;
}

.foot-left .info{
    width: 68%;
}
.foot-top .foot-right{
    width: 30%;
    position: absolute;
    top: 30%;
    right: 0;
}
/* 푸터 하단 */
.foot-bottom .fnb{
    width: 90%;
}
.fnb .foot-tit{
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    font-size: 1.2rem;
    color: #666;
}
.fnb li{
    width: 25%;
}
.fnb li:nth-of-type(1){
    width: 20%;
}
.fnb li:nth-of-type(2){
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
.fnb .cs-txt p{
    width: 50%;
}
.cs-txt p:nth-of-type(1),
.cs-txt p:nth-of-type(2){
    width: 100%;
}
.foot-bottom .ft-company{
    width: 90%;
    margin: 100px auto;
    position: relative;
    font-size: .8rem;
    line-height: 25px;
    color: #53513d;
}
.foot-bottom .ft-company::before{
    content: '';
    position: absolute;
    top: -50px;
    width: 100%;
    height: 1px;
    background-color: #53513d;
}
.ft-company .license{
    font-size: .6rem;
    font-weight: 700;
    text-decoration: underline;
    color: #333;
}
.foot-bottom .ft-sns{
    position: absolute;
    top: 0;
    right: 0;
}
.ft-sns ul{
    display: flex;
}
.ft-sns li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
    box-sizing: border-box;
    background-color: #878570;
}
.ft-sns img{
    width: 100%;
}
.foot-bottom .ft-certify{
    position: absolute;
    bottom: -100px;
    right: 0;
    width: 74px;
    height: 74px;
    background: url(./image/inipay_74x74_color.png);
}